*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cloud Soft;
    font-size: 100%;
}
nav{
    font-size: 1vw;
}

.navc{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.menu {float: left;
  list-style-type:none;
    margin-left: -11.2%;
    margin-top: 0.3vh;
    
    
}
.menu li{display: inline-block;
  
    
   }
.menu a{color: black;
    margin-right: 9vw;
    text-decoration: none; 
    font-family:Cloud Soft;
}

.search-bar{
  border: solid black  2px;
  height: 50px;
  width: 12vw;
  border-radius: 30px;
  justify-content: flex-start;
  align-items: center;
  margin-top: -8.8%;
  margin-left: -1.8vw;
  font-family:Cloud Soft Bold;
  display: flex;
  align-items: center;
 padding: 0.5vw;
}

.search-bar input{
  max-width: 8.5vw;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 0px 0.5vw;
  font-size: 1vw;

}

.search-bar button{
border: 0;
border-radius: 30%;
padding: 0.1vw;
background:transparent ;
cursor: pointer;
}

.e{
  float: right;
  margin-left: -2vw; 
 
   
}
.me {
    list-style-type:none;
        margin-top: -0.85%;
   
    
}
.me li{display: inline-block;
}
.me a{color: black;   
    margin-left: 9vw;
    text-decoration: none;
    font-family:Cloud Soft;
}
.sublo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-120vh ;
}
.su1{width: 799px;
  height: 708px;
    float: left;
    margin-top: 15vh;
    padding-left:1vw ;
    margin-left: -10vw;
   

}
.su2{
   float: right;
   margin-top:-9vh ;
}


.slide{
    z-index: 1;
    margin-top: -25vh;
   
}
.sl{
  margin-top: -2.5%;
    display: none;
    max-width: 80vw;
    max-height: 98vh;
   
}
.s0{
    position: relative;
    margin: auto;
    padding: auto;
    display: flex;
    background: var(--Daimond, linear-gradient(to bottom right, rgb(255, 255, 255) 0%, #D0E0FF 80%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgb(255, 255, 255) 0%, #D0E0FF 80%) bottom left / 51% 51% no-repeat, linear-gradient(to top left, rgb(255, 255, 255) 0%, #D0E0FF 80%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgb(255, 255, 255) 0%, #D0E0FF 80%) top right / 51% 51% no-repeat);
    box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.30);
    flex-wrap: nowrap;
    width: 80vw;
    height: 110vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
   
  }
  
  .s1{
    align-items: center;  
    justify-content: center;
    width:80vw;
    height: 98vh; 
    flex-shrink: 0;
    background: var(--Daimond, linear-gradient(to bottom right, rgb(255, 255, 255) 0%, #D0E0FF 80%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgb(255, 255, 255) 0%, #D0E0FF 80%) bottom left / 51% 51% no-repeat, linear-gradient(to top left, rgb(255, 255, 255) 0%, #D0E0FF 80%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgb(255, 255, 255) 0%, #D0E0FF 80%) top right / 51% 51% no-repeat);
    border-radius: 50px;
    opacity: 100%;
  
  }
  .sc11{
    margin-top: -3vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
  }

  .l1{
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
    justify-content: space-around;
  }
  .l1 img{
    width: 20vw;
    height: 25vh;
    object-fit: cover ;
    margin: 3vw;
  }
  .l11 {
    margin-top: -18vh;
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
  }
    
   

.l11 h1{
    
    width:20vw;
    text-align: start;
    margin: 5vw;

}
.l12 {
    margin-top: -20vh;
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
  }
    
   

.l12 h1{
  
    width:20vw;
    text-align: start;
    margin: 5vw;

}
.l13 {
    margin-top: -20vh;
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
  }
    
   

.l13 h1{
   
    width:20vw;
    text-align: start;
    margin: 5vw;

}


.s12{ display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: -12vh;}   
    .s121{display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 35vw;
    }
        
    .s121 img{width: 30vw;
    height: 25vh;
    margin-left: 3vw;
    margin-right: 5vw;
    }
    .s121 h1{width: 20vw;
    text-align: start;
    margin-left: 3vw;
    margin-top: 1vh;
    margin-right: 5vw;}
    .s121 h3{width: 30vw;
        font-size: 0.7vw;
        text-align: start;
        margin-top: 1vh;
        margin-left: 3vw;
        margin-right: 5vw;}

    .s122{display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    width: 55vw;}

    .s122 h1{width: 20vw;
        text-align: start;
        margin: 0vw;
    margin-bottom: 1vh; }
    .s122 h3{font-size: 0.7vw;
        width: 43vw;
        text-align: start;
        margin: 0vw;
        margin-bottom: 1vh;}
    .s122 iframe{width: 43vw;
        height: 45vh;
        margin: 0vw;
        margin-bottom: 1vh;
        }



















  
  .s2{  
      align-items: center;
    justify-content: center;
    width:80vw;
    height: 98vh;
    flex-shrink: 0;
    background: var(--Daimond, linear-gradient(to bottom right, rgb(255, 255, 255) 0%, #D0E0FF 80%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgb(255, 255, 255) 0%, #D0E0FF 80%) bottom left / 51% 51% no-repeat, linear-gradient(to top left, rgb(255, 255, 255) 0%, #D0E0FF 80%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgb(255, 255, 255) 0%, #D0E0FF 80%) top right / 51% 51% no-repeat);
  /*  border: solid rgb(23, 16, 16)   2px;*/
    border-radius: 50px;
    opacity: 100%;
  }


  .sc21{
    margin-top: -3vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
  }

  .l2{
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
    justify-content: space-around;
  }
  .l2 img{
    width: 20vw;
    height: 25vh;
    object-fit: cover ;
    margin: 3vw;
  }
  .l21 {
    margin-top: -18vh;
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
  }
    
   

.l21 h1{
    
    width:20vw;
    text-align: start;
    margin: 5vw;

}
.l22 {
    margin-top: -20vh;
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
  }
    
   

.l22 h1{
  
    width:20vw;
    text-align: start;
    margin: 5vw;

}
.l23 {
    margin-top: -20vh;
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
  }
    
   

.l23 h1{
   
    width:20vw;
    text-align: start;
    margin: 5vw;

}


.s22{ display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: -12vh;}   
    .s221{display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 35vw;
    }
        
    .s221 img{width: 30vw;
    height: 25vh;
    margin-left: 3vw;
    margin-right: 5vw;
    }
    .s221 h1{width: 20vw;
    text-align: start;
    margin-left: 3vw;
    margin-top: 1vh;
    margin-right: 5vw;}
    .s221 h3{width: 30vw;
        font-size: 0.7vw;
        text-align: start;
        margin-top: 1vh;
        margin-left: 3vw;
        margin-right: 5vw;}

    .s222{display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    width: 55vw;}

    .s222 h1{width: 20vw;
        text-align: start;
        margin: 0vw;
    margin-bottom: 1vh; }
    .s222 h3{font-size: 0.7vw;
        width: 43vw;
        text-align: start;
        margin: 0vw;
        margin-bottom: 1vh;}
    .s222 iframe{width: 43vw;
        height: 45vh;
       
        margin: 0vw;
        margin-bottom: 1vh;
        }







  .s3{
    align-items: center;  
    justify-content: center;
    width:80vw;
    height: 98vh; 
    flex-shrink: 0;
    background: var(--Daimond, linear-gradient(to bottom right, rgb(255, 255, 255) 0%, #D0E0FF 80%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgb(255, 255, 255) 0%, #D0E0FF 80%) bottom left / 51% 51% no-repeat, linear-gradient(to top left, rgb(255, 255, 255) 0%, #D0E0FF 80%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgb(255, 255, 255) 0%, #D0E0FF 80%) top right / 51% 51% no-repeat);
   /* border: solid red   2px;*/
    border-radius: 50px;
    opacity: 100%;
  }






  .sc31{
    margin-top: -3vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
  }

  .l3{
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
    justify-content: space-around;
  }
  .l3 img{
    width: 20vw;
    height: 25vh;
    object-fit: cover ;
    margin: 3vw;
  }
  .l31 {
    margin-top: -18vh;
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
  }
    
   

.l31 h1{
    
    width:20vw;
    text-align: start;
    margin: 5vw;

}
.l32 {
    margin-top: -20vh;
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
  }
    
   

.l32 h1{
  
    width:20vw;
    text-align: start;
    margin: 5vw;

}
.l33 {
    margin-top: -20vh;
    display: flex;
    flex-wrap: nowrap;
    max-width: 78vw;
    flex-flow: row;
  }
    
   

.l33 h1{
   
    width:20vw;
    text-align: start;
    margin: 5vw;

}


.s32{ display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: -12vh;}   
    .s321{display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 35vw;
    }
        
    .s321 img{width: 30vw;
    height: 25vh;
    margin-left: 3vw;
    margin-right: 5vw;
    }
    .s321 h1{width: 20vw;
    text-align: start;
    margin-left: 3vw;
    margin-top: 1vh;
    margin-right: 5vw;}
    .s321 h3{width: 30vw;
        font-size: 0.7vw;
        text-align: start;
        margin-top: 1vh;
        margin-left: 3vw;
        margin-right: 5vw;}

    .s322{display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 55vw;}

    .s322 h1{width: 20vw;
        text-align: start;
        margin: 0vw;
    margin-bottom: 1vh; }
    .s322 h3{font-size: 0.7vw;
        width: 43vw;
        text-align: start;
        margin: 0vw;
        margin-bottom: 1vh;}
    .s322 iframe{width: 43vw;
        height: 45vh; 
        margin: 0vw;
        margin-bottom: 1vh;
        }

.su1 img{
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
animation-timing-function: ease-in-out;}

@keyframes example {
  0%  { left: 0px; top:0px;}
  50% { left:0px;top: 100px; }
  100%{ left: 0px; top:0px;}
  
}

.smoke1 {position: relative;
  animation-name: e;
  animation-duration: 7s;
  animation-iteration-count: infinite;
animation-timing-function: ease-in-out;}


@keyframes e {
  0%  { left: 0vw ;}
  50% {left: 70vw;}
  100%{ left: 0vw; }
  
}


.smoke2 {position: relative;
  animation-name: e2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
animation-timing-function: ease-in-out;}


@keyframes e2 {
  0%  { right: 0vw;}
  50% { right: 20vw; }
  100%{ right: 0vw; }
  
}


body{  overflow-x: hidden;}



.Dr{ 
  display: flex;
  
}
.Dr img{   pointer-events: none;
 
 
}
.Dr img#w-r{    transform: translateX(-80vw);}


  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,.dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.fo{margin-top: -70vh;

  width: 100%;
  height: 70vh;
  font-size: 1vw;
}
  .f1{width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
   
  }

  .f11{ 
    margin-left: -10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    padding: 1vw;
    padding-left: 12vw;
    padding-top: 15vh;
    flex: 40% 0% 0% ;
    max-width: 40%;
    max-height: 100%;}
    .f112{margin-top: 15vh;}


    .f12{ 
      display: flex;
      flex-wrap: wrap;
      margin-top: -2.2vh;
       align-items: flex-start;
      flex-direction: column;
     padding: 1vw;
      padding-top: 15vh;
      flex: 20% 0% 0% ;
      max-width: 20%;
      max-height: 100%;}

      .f12 ul{margin-top: 10vh;
        max-width: 20%;
      padding-left: 2vw;}
          


      .f13{
        margin-right: -10vw;
        display: flex;
        padding: 1vw;
        margin-top: -8.5vh;
        padding-top: 15vh;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 100%;
        padding-right: 12vw;
        max-width: 40%;
        flex: 40% 0% 0% ;}
        .f132{margin-top: 15vh;}
        .f133{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

        }

        .f133 li{
          border: solid black 0.2vw;
          border-radius: 1.3vw;
          width: 45px;
          padding:9px 11.5px 10px 8.5px;
          height: 45px;
          margin-right: 2vw;
          margin-top: 5vh;
        }
     
       